.inline-list {
    padding: 0;
    margin: 0;
    list-style: none;
    float: right;
}
.inline-list li {
    position: relative;
    display: inline;
    float: left;
    margin: 0 2px;
}
.status-list li a {
    padding: 4px 10px;
    width: 100%;
    height: 100%;
    color: grey;
    border: 1px solid white;
    border-radius: 3px;
    text-decoration: none;
}
.status-list li a:hover {
    border: 1px solid lightgray;
}
.status-list li a.selected {
    text-decoration: none;
    border: 1px solid lightgray;
    background-color: #f1f1f1;
}
.todo-list {
    list-style: none;
    padding: 0;
}
.todo-item {
    line-height: 40px;
    display: inline-block;
}
.todo-list > li {
    height: 40px;
    margin: 0px 2px;
    display: block;
    position: relative
}
.todo-item > input[type="checkbox"] {
    height: 34px;
    float: left
}
.todo-item > input[type="text"] {
    width: 100%;
    height: 100%;
    padding-left: 10px;
}
.deleteBtn {
    position: absolute;
    top: 0;
    right: 0;
    height: 34px;
    background-color: white;
    width: 34px;
    border: none;
    display: none;
    line-height: 34px;
    outline: none;
    color: red;
    transition: .3s linear;
    font-size: 20px;
}
.todo-item:hover .deleteBtn {
    display: block;
}
span.todo-text {
    width: 100%;
    height: 100%;
    margin-left: 30px;
    display: block;
}
