<div class="navbar navbar-default">
    <span class="navbar-brand">TodoApp</span>
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/todos">My Todos</a></li>
        </ul>
    </div>
</div>

{{outlet}}
