<div class="col-md-4 col-md-offset-4
            col-sm-6 col-sm-offset-3
            col-xs-12">
    <h2>Todo Lists</h2>
    <form {{action "createList" on="submit"}}>
        {{ input value=todo class="form-control" placeholder="Create another list..."}}
    </form>
    <ul class="todo-list">
        {{#each model as |list|}}
        <li class='todo-item'>
        {{# link-to "list" list}}{{ list.title }}{{/link-to}}
        </li>
        {{/each}}
    </ul>
</div>
