<div class="col-xs-12">
<form {{action "login" on="submit"}}>
    <div class="col-lg-2 col-lg-offset-5
                col-md-4 col-md-offset-4
                col-sm-6 col-sm-offset-3
                col-xs-12">
        <fieldset class="form-group row">
            <label for="username">Username</label>
            {{input value=username class="form-control" placeholder="Username"}}
        </fieldset>
        <fieldset class="form-group row">
            <label for="password">Password</label>
            {{input value=password class="form-control" type="password" placeholder="Password"}}
        </fieldset>
        <div class="row">
            <button value="submit" class="btn btn-block btn-primary">Sign In</button>
        </div>
    </div>
</form>
</div>
