<div class="col-md-4 col-md-offset-4
            col-sm-6 col-sm-offset-3
            col-xs-12">
    <h2>Todos</h2>
    <form {{action "createTodo" on="submit"}}>
        {{ input value=todo class="form-control" placeholder="What do you need to do?"}}
    </form>
    {{todo-list todos=model}}
</div>
